<div class="container__big-card">
  <div class="big-card___photo">
    <img src="https://images.indepth.dev/images/2022/05/External-Configurations-in-Angular-2.jpg"
     alt=""
     height="200px"
     srcset=""
     >
  </div>

  <div class="big-card__title">
   <h1><a href="#">Conhecimentos em Angular</a></h1>
  </div>
  <div  class="big-card__description">
    <p>
      <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maiores commodi expedita iste
        debitis ducimus, incidunt corrupti veniam facere laboriosam, nulla doloribus repellat, asperiores
        natus quod facilis. Magni, sed. Vitae.
      </a>
    </p>

  </div>
</div>
